<div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type='text/javascript'></script>
    <script src='https://unpkg.com/spritespin@x.x.x/release/spritespin.js' type='text/javascript'></script>



    <div id='mySpriteSpin'></div>
    
    <!-- Initialize the viewer -->
    <script type='text/javascript'>
        $("#mySpriteSpin").spritespin({
          // path to the source images.
          source: [
          "/content/lsa/assets/ummaa/SpinSetExample/frame_001.png",
          "/content/lsa/assets/ummaa/SpinSetExample/frame_002.png",
          "/content/lsa/assets/ummaa/SpinSetExample/frame_003.png",
          "/content/lsa/assets/ummaa/SpinSetExample/frame_004.png",
          "/content/lsa/assets/ummaa/SpinSetExample/frame_005.png",
          "/content/lsa/assets/ummaa/SpinSetExample/frame_006.png",
          ],
          width   : 480,  // width in pixels of the window/frame
          height  : 327,  // height in pixels of the window/frame
          animate : false,
          
        });
    </script>

</div>